body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F78764;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

.change {
  color: #1f1f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 100;
  transform: translate(-50%, -50%);
}