body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F78764;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

.container{
  width: 400px;
  height: 250px;
  background: #555B6E;
  border-radius: 8px;
  display: grid;
  position: relative;
  background: linear-gradient(to right, #383b48 50%, #555B6E 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s linear;
}


input{
  display: block;
  font-family: Roboto;
  font-size: 18px;
  line-height: 20px;
  color: #FAF9F9;
  padding: 6px 4px;
  margin: auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #89B0AE
}

::placeholder {
  color: #FAF9F9;
  text-align: center ;
  opacity: 1; 
}

.speak-button {
  width: 220px;
  font-family: Roboto;
  font-size: 18px;
  color: #FAF9F9;
  padding: 14px 24px;
  margin: auto;
  border-radius: 8px;
  background: #89B0AE ;
  border: none;
  cursor: pointer;
  transition: 250ms ease;
}

.speak-button:hover {
  background: #BEE3DB;
}

.speak-button:active {
  background: #89B0BE;
  transform: scale(0.98);
}

input:focus, .speak-button:focus {
  outline: none;
}