/* reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc686d;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

.container {
  position: relative;
  width: 350px;
  height: 250px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  font-size: 12px;
  overflow: hidden;
}
